# Deep Learning core
tensorflow==2.18.1
tensorflow-metal==1.2.0

# Data manipulation
numpy
pandas

# Evaluation and Metrics
scikit-learn

# Data Visualisations
matplotlib
seaborn
pillow

# Data loading
kagglehub
